@mixin knapp($color, $size) {
    height: $size;
    width: $size * 2;
    background-color: $color;
    opacity: 50%;
    cursor: pointer;

    display: grid;
    justify-content: center;
    align-items: center;
}

@mixin pil($color, $size) {
    height: calc($size / 1.7);
    width: calc($size / 1.7);
    border-bottom: 15px solid $color;
    border-left: 15px solid $color;
    transform: rotate(45deg);
    cursor: pointer;
    margin-left: 1.2rem;
    margin-top: 1rem;
}