.rubrikovrigt {
    grid-row: 4;
    grid-column: 2/10;
}


.knappcentrum {
    grid-column: 2/10;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div1 {
    display: flex;
    justify-content: space-between;
}

.div2 {
    display: flex;
    justify-content: center;
}

.div3 {
    display: flex;
    justify-content: center;
}

.div4 {
    display: flex;
    justify-content: space-between;
}